* 
* General
*/

* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

body {
  position: relative;
  width: 100vw;
  height: 100%;
}

html {
  scroll-padding-top: 4rem;
}

h1 {
  color: #5514C5 !important;
  margin-bottom: 0 !important;
}

h2 i,
h3 i {
  font-size: 0.8rem;
  color: #5514C5;
}

html {  
  scroll-behavior: smooth;
}

.relative {
    position: relative;
  }
  
.absolute {
    position: absolute;
}

.flexrow {
    display: flex;
    flex-direction: row;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
}

.gap10 {
  gap: 10px;
}

.wrap {
  flex-wrap: wrap;
}

.center {
    text-align: center;
    justify-content: center;
  }
  


/* SINGLE PAGE*/
body .ast-container {
    max-width: 100vw !important; 
  }
  
  .ast-container .single__page {
    width: 100%;
    max-width: 1440px;
    margin: 50px auto 20px;
  }
  
  
  .container__info__post h1 {
    text-align: center;
    margin: 30px 20px 0;
  }
  
  .container__info__post h2,
  .container__info__post h3,
  .container__info__post h4 {
    padding-bottom: 10px;
  }
  
  .container__info__post h2,
  .container__info__post h2 p {
    margin: 5px auto 10px;
  }
  
  .techno_icon,
  .container__info__post .techno_icon {
    gap: 10px;  
    font-size: 2.4rem;
    margin: 5px auto 15px;
  }
  
  .background__post {
    background-color: #ffffff;
    border-radius: 25px;
    padding: 20px 25px;
  }
  
  .container__middle,
  .container__bottom {
    max-width: 1440px;
  }
  
  .container__middle__left,
  .container__middle__right {
    padding: 30px 35px;
  }
  
  .container__middle__left li,
  .container__middle__right li {
    padding-bottom: 10px;
  }
  
  .container__title h2 {
    width: 60%;
    margin: auto;
  }
  
  .container__top,
  .container__middle__left,
  .container__middle__right {
    align-content: center;
  }
  
  .portfolio_achievements_info p a,
  .container__middle a,
  .container__bottom_link a {
    color: #1437C4 !important;
    text-decoration: underline dotted !important;
  }
  
  .portfolio_achievements_info p a:hover,
  .container__middle a:hover,
  .container__bottom_link a:hover {
    color: #a35600 !important;
    text-decoration: underline !important;
  }
  
  .container__middle a {
    font-weight: bold;
  }
  
  .container__top__image {
    padding: 20px 10px 25px;
    width: 100%;
  }
  
  .container__middle {
    justify-content: center;
    margin: 20px auto 30px;
    gap: 60px;
  }
  
  .container__middle__right{
    width: 45%;
  }
  
  .container__middle__left {
    width: 45%;
  }
  
  .container__middle__info {
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  
  .container__bottom {
    align-content: stretch;
    align-items: stretch;
    justify-content: center;
    margin: auto;
    gap: 30px;
  }
  
  .container__bottom .background__post {
    height: auto;
    max-height: 450px;
    overflow: hidden;
    margin: 20px 0;
  }
  
  .container__bottom .container__bottom_figma,
  .container__bottom .container__bottom_website_link,
  .container__bottom .container__bottom_link {
    width: 29%;
    min-width: 380px;
  }
  
  .container_link,
  .container_link ul {
    text-align: left;
  }
  
  .container__site__navigation {
    gap: 40px;
  }
  
  .site__navigation__prev,
  .site__navigation__next {
    padding: 40px 10px;
  }

  /* PORTFOLIO PAGE */
#container_title_achievements div.wp-block-column {
    padding-top: 30px;
  }
  
  .container_article {
    max-width: 1440px;  
    padding-bottom: 50px;
    gap: 20px;
    justify-content: center;
  }

  .wp-block-columns{
    gap: 40px;
  }
  .wp-container-core-column-is-layout-7, .wp-container-core-column-is-layout-8 {
    background-color: #fff;
    /*border: solid black 1px;*/
    border-radius: 15px;
    background: linear-gradient(145deg, #060097, #C10FFF);
    box-shadow:  18px 18px 39px #a4a4a4,
             -18px -18px 39px #ffffff;
    /*box-shadow: 5px 5px 5px -2px #62626387;
      -webkit-box-shadow: 5px 5px 5px -2px #62626387;
      -moz-box-shadow: 5px 5px 5px -2px #62626387;*/
    padding: 30px;
  }
  .wp-container-core-column-is-layout-7 h3, 
  .wp-container-core-column-is-layout-8 h3,
  .wp-container-core-column-is-layout-8 .studies__jobs strong{
    color:white !important;
    font-weight: 600 !important;
  }

  .wp-container-core-column-is-layout-8 .studies__jobs .square li {
    list-style: square !important;
}
.wp-container-core-column-is-layout-8 .studies__jobs ul, ol{
    color: white;
}
  .wp-container-core-column-is-layout-7 p, .wp-container-core-column-is-layout-8 p{
    color:white;
  }
  
  .container_article .article_details {
    width: 30%;
    min-width: 280px;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 10px;
    transition: .3s ease-in-out;
    box-shadow: 5px 5px 5px -2px #62626387;
      -webkit-box-shadow: 5px 5px 5px -2px #62626387;
      -moz-box-shadow: 5px 5px 5px -2px #62626387;
    margin: 10px;
  }

  .container_article .article_details .techno_web img{
    width: 50px;
    height: 50px;
  }
    
    .container_article .article_details:hover {  
    box-shadow: 0 0 0 0 transparent;
      -webkit-box-shadow: 0 0 0 0 transparent;
      -moz-box-shadow: 0 0 0 0 transparent;
  }
  
  .container_article .article_details .origin,
  .container_article .article_details .portfolio_icon {
    justify-content: center;
    text-align: center;
  }
  
  .container_article .article_details .portfolio_icon {
    gap: 10px;  
    font-size: 1.8rem;
  } 
  
  .container__article_info {
    padding: 10px 20px;
  }
  /*article_details*/
  .container__article_info a {
    text-decoration: none !important;
  }
  
  .container_article .article_details h3 {
    margin: 15px 0 0;
    font-size: 1.6rem;
    color: #220687;
  } 
  
  .container_article .article_details h4 {
    margin: 20px 0 0;
    font-size: 1.1rem;
  } 
  
  .container_article .article_details p {
    margin-bottom: 5px;
    font-size: 0.8rem;  
  }
  
  .container_article .btn_more {
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  
  .container_article .button {  
    background-color: #ff8600;
    border: 1px solid #FF860087;
    color: #220687;
    margin: 5px auto;
    padding: 15px;
      transition: .3s ease-in-out;
    box-shadow: 5px 5px 5px -2px rgba(255,134,0,0.53);
    -webkit-box-shadow: 5px 5px 5px -2px rgba(255,134,0,0.53);
    -moz-box-shadow: 5px 5px 5px -2px rgba(255,134,0,0.53);
  }
  
  .container_article .button:hover {  
    background-color: #FF860087;
    border-color: #ff8600;
    box-shadow: 0 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 0 transparent;
  }

  /* techno web icon*/
  .icone_html i,
.icone_js i,
.icone_wp i,
.icon_html i,
.icon_css i,
.icon_php i {
  transition: 1s;
}

/* Couleurs des images fontawesome */
.icone_html i,
.icon_html i {
  color : #E44D26 !important;
}

.icone_css i,
.icon_css i {
  color : #1572B6 !important;
}

.icone_js i,
.icon_js i {
  color : #D6BE00 !important;
}

.icone_wp i,
.icon_wp i {
  color : #00769d !important;
}

.icone_php i,
.icone_php image,
.icon_php i,
.icon_php image {
  color : #868db6 !important;
}


/*  --- HEADER ---  */


header#masthead.site-header {
    position: sticky;
    /* position: fixed; */
    background-color: #1437C4;
    z-index: 999;
    top: 0;
    height: 80px;
    padding-bottom: 100px !important;
    box-shadow: 0 5px 6px #27187e57;
}

nav .main-navigation .menu-item  a:hover {
    color: #fcfcfd !important;
    text-decoration: underline;
}


/* IMAGE DANS UNE MODALE EN CSS */
.modal {
    /* Le trame de fond */
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 20px;
    z-index: 100000;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0,0.7);
  }
  
  .modal a {
    /* Pour centrer l’image dans la modale */
    display: table-cell; 
    vertical-align: middle; 
    text-align: center;
  }
  
  .modal img {
    height: 95%;
    /* Le contour de l’image */
    max-width:1200px;
    padding: 10px;
    background: #ffffff;
  }
  
  
  /* Selecteur « target pour afficher l’image » */
  .modal:target { 
    display: table; 
  }


  /* ***** scroll des parcours pro et expériences pro et cv ***** */
.wp-container-core-column-is-layout-7 {

    transform: translate3d(-500px, 0, 0);
    transition: transform 1.5s ease;
  }
  .wp-container-core-column-is-layout-7.move {
    transform: translate3d(0px, 0, 0);
  }
  
  .wp-container-core-column-is-layout-8 {

    transform: translate3d(+900px, 0, 0);
    transition: transform 1.5s ease;
  }
  .wp-container-core-column-is-layout-8.move {
    transform: translate3d(0px, 0, 0);
  }